body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Container{
    height: 110vh;
    width: 150vh;
    min-width: 73%;
    background-color: wheat;
    border-radius: 10%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
footer{
    color: white;
    text-align: center;
    font-size: 1.5vh;
    width: 100%;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 7vh;
    font-style: italic;
    color: blue;
    text-shadow: 2px 2px 2px red;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 5vh;
    margin-bottom: 1vh;
}
h3{
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;
}
.Game{
    height: 80vh;
    min-height: 50%;
    background-color:  darkorange;
    width: 125vh;
    min-width: 85%;
    margin-top: 1vh;
    margin-bottom: 3vh;
    border-radius: 10%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 3vh;
    gap: 1vh;  
}
.Field{
    border: 2px dashed brown;
    border-radius: 25%;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Hole{
    background-color: wheat;
    height: 75%;
    width: 60%;
    border-radius: 50%;
    border: 1px solid black;
}
.options{
    font-size: 80%;
}
button{
    border: 2px solid black;
    border-radius: 50%;
    background-color: wheat;
    font-weight: bold;
    height: 4vh;
    width: 10vh;
    min-width: 5rem;
    min-height: 2rem;
    margin-left: 2vh;
    margin-right: 2vh;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover{
    background-color: darkorange;
}
.start{
    color: blue;
}
.restart{
    color: darkred;
    width: 12vh;
}
.info{
    color: green;
}
.description{
    border: 2px solid black;
    width: 60vh;
    height: 40vh;
    margin: 5vh;
    background: white;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: bold;
    flex-direction: column;
}
.description p{
    margin: 1vh;
}
@media(max-width:850px){
    body{
        margin: 0;
        padding: 0;
    }
    .Container{
        width: 100%;
        height: 90vh;
        border-radius: 0;
        margin: 0;
    }
    .Game{
        height: 50%;
        gap: 2.5%;
        padding: 3%;
        max-width: 90%;
        min-width: 90%;
    }
    .Hole{
        width: 85%;
        height: 85%;
    }
    footer {
        color: white;
        text-align: center;
        font-size: 1.5vh;
        width: 100%;
        margin-top: auto;
    }
    .description{
        width: 90%;
        height: 110%;
    }
    .description br{
        display: none;
    }
    button:hover{
        background-color: wheat
    }
    button:active{
        background-color: darkorange;
    }
}